<div class="container">
  <div class="row">

    <div class="col-md-6">
      <h1 class="heading text-center">About Us
        <span class="text-muted text-center">We Love Dogs!</span>
      </h1>

      <p class="text-center lead">LakeStone Studio is a boutique web design and hosting company based in Tomball, Texas.
        We work very hard to provide modern clean websites that will exceed your expectations.
        Get in touch with us today and find out what we can do to exceed your web design needs!</p>

        <p class="text-center"><a class="btn btn-primary btn-lg" href="#contact" role="button">Contact Us!</a></p>


    <div class="col-md-6">
      <img class="img-rounded img-responsive" src="http://placehold.it/400x200">
    </div>

    <div class="col-md-6">
      <img class="img-rounded img-responsive" src="http://placehold.it/400x200">
    </div>

    </div>



    <div class="col-md-6 center-block">
      <img class="featurette-image img-rounded img-responsive pull-right" src="http://placehold.it/600x450">
    </div>

</div>

</div>

<div class="container cover-pad">
  <img class="featurette-image img-rounded img-responsive pull-right" src="http://placehold.it/1500x200">
</div>
