<h1 class="heading text-center">Lets Talk
  <span class="text-muted text-center">We're Straightforward With Our Ablities & Pricing</span>
</h1>


<div class="container text-center">
  <%= render 'layouts/contactalert' %>
</div>

<% if cookies[:saved_contact] %>
  <h4 class="text-center"> Thanks for contacting us. We will get back to you soon. </h4>
<% else %>
<%= render 'visitors/formcontact' %>
<% end %>
  </div>
  </div>
  </div>
