<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="heading text-center">What We Do
        <span class="text-muted text-center">Our Three Steps For Success</span>
      </h1>
      <ul class="timeline">
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="http://placehold.it/250x250" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step One</h4>
              <h4 class="subheading">Meet With You</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                We meet with you and talk about what you want to accomplish with your website.
                This way you can talk about what goals you want to accomplish with your site.

              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="http://placehold.it/250x250" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step Two</h4>
              <h4 class="subheading">Send Over A Wireframe</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                We bring you into the office or meet you to check out the outline of the website.
                This way you can get an idea of what the website will look like and we can get you working on any content that you want to include.
                This will give you a small idea of what your site will look like and any changes will be made at this time.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="http://placehold.it/250x250" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step Three</h4>
              <h4 class="subheading">Finish & Celebrate</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                We get your website up and running on our servers.
                We both celebrate while you enjoy your new website.
              </p>
              <p class="text-center cover-pad"><a class="btn btn-primary btn-lg" href="#contact" role="button">Contact Us!</a></p>
            </div>
          </div>
        </li>




      </ul>
    </div>
  </div>
</div>
