<div class="jumbotron">
  <h1 class="text-center">LakeStone Studio</h1>
  <p class="text-center">THIS IS A PLACEHODER PLEASE CHANGE BEFORE DEPLOYMENT</p>
  <p class="text-center"><a class="btn btn-primary btn-lg" href="#contact" role="button">Contact Us!</a></p>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="well well-lg">
        <p class="text-center">We Exceed Your Expectations!</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="well well-lg">
        <p class="text-center">We Put Quality Over Bottom Line!</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="well well-lg">
        <p class="text-center">We Love Amazing New Ideas!</p>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <img class="img-rounded img-responsive" src="http://placehold.it/1500x200">
</div>
