<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>E-Mail</th>
    <th>Phone</th>
    <th>Notes</th>
    <th>Edit</th>
  </tr>
<% @contacts.each do |contact| %>
<tr>
  <td><%= contact.name %></td>
  <td><%= contact.email %></td>
  <td><%= contact.phone %></td>
  <td><%= contact.notes %> </td>
  <td> </td>
</tr>
<% end %>
</tbody>
</table>
