<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>E-Mail</th>
    <th>Edit</th>
  </tr>
<% @leads.each do |lead| %>
<tr>
  <td><%= lead.name %></td>
  <td><%= lead.email %></td>
  <td> </td>
</tr>
<% end %>
</tbody>
</table>






</table>
