<h1 class="heading text-center">Admin
  <span class="text-muted text-center">Welcome</span>
</h1>

<%= link_to "Newsletter Data", leads_path(@lead) %>

<%= link_to "Contact Data", contacts_path(@contact) %>
