<h1 class="heading text-center">Admin
  <span class="text-muted text-center">Welcome</span>
</h1>

<h2 class="text-center">Newsletter Table</h2>
<%= render 'admin/leadtable' %>


<h2 class="text-center">Contact Table</h2>
<%= render 'admin/contacttable' %>
